.featured-work ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header__menu {
    display: none;
}

@media screen and (max-width: 650px) {
    .nav {
        z-index: 10;
        background-color: #fff;
        width: 300px;
        position: absolute;
        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);
        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
    }

    .nav.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .nav__item {
        display: list-item;
        border-bottom: 1px solid #E0E0E0;
        width: 100%;
        text-align: left;
    }

    .header__menu {
        display: inline-block;
        position: absolute;
        right: 0;
        padding-right: 1em;
    }

    .header__menu svg {
        width: 32px;
        fill: #2d3c49;
    }

    .header__logo {
        width: 100px;
    }

    .header__title {
        margin-right: 75px;
    }

    .header__title h1 {
        font-size: 1.5em;
    }

    .header__title p {
        font-size: .9em;
    }

    .featured-work-item {
        margin-left: auto;
        margin-right: auto;
    }

    .featured-work-item h2 {
        margin-left: .5em;
    }

    .featured-work-item p {
        margin-left: 1em;
    }
}

@media screen and (min-width: 700px) {
    .featured-work-item {
        width: 30%;
        text-align: center;
    }

    .featured-work-item h2 {
        font-size: 1.25em;
    }
}

@media screen and (min-width: 1100px) {
    main, .header, .nav, .content {
        width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }
}
